/*
 http://24work.blogspot.com/p/demo.html?url=http://24work-new.googlecode.com/svn/trunk/24work-blogspot/mouse-cursor/live-demo/mouse-cursor-demo-1.html
*/

body {
cursor: url(https://drive.google.com/open?id=0B_s1BCdqI_GRMUFINTRablVMRmc),progress;
}

a:hover {
cursor: url(https://drive.google.com/open?id=0B_s1BCdqI_GRN1I3U1JIeUpyMjA),default;
color: #f60;
}
