.pbox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding: 0px;
  font-size: large;
}
.TheoremBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: SkyBlue;
  font-style: italic;
  font-size: large;
}
.ProofBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: PapayaWhip;
  font-style: normal;
  font-size: large;
}
.thm  {
  text-align:left;
  font-style: normal;
  text-decoration: underline;
  font-weight: bold;
  background-color: FloralWhite;
  font-size: x-large;
}
.ExerciseBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: LightGreen;
  font-style: normal;
  font-size: large;
}
.LemmaBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: DarkKhaki;
  font-style: italic;
  font-size: large;
}
.DefinitionBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: Moccasin;
  font-style: normal;
  font-size: large;
}
.LargeFontBox {
  margin-left:auto;
  margin-right:auto;
  width:95%;
  padding:10px;
  border:2px solid gray;
  /*margin:2px;*/
  background-color: White;
  font-style: normal;
  font-size: large;
}
.LargeFont {
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  font-size: large;
}
.button {
  font-size: x-large;
  padding: 3px;
  margin: 0;
  border:2px solid black;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: buttonface;
  text-decoration: none;
  width: auto;
}
/*rounded corners of box*/
.corner1 {
  border: 1px solid red;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  padding: 5px; 
  width: auto;
  height: auto; 
}
/*
 *  Start with the steps being hidden
 */
#Step1, #Step2, #Step3, #Step4, #Step5, #Step6, #Step7, #Step8, #Step9, #Step10, #Step11, #Step12, #Step13, #Step14, #Step15, #Step16 {
  visibility: hidden;
}
#SStep1, #SStep2, #SStep3, #SStep4, #SStep5, #SStep6, #SStep7, #SStep8, #SStep9, #SStep10, #SStep11, #SStep12, #SStep13, #SStep14, #SStep15, #SStep16 {
  visibility: hidden;
}
/*
